/* CSS RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* { 
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
    font-family: "Avenir Next", sans-serif;
    background-color: whitesmoke;
}

/*-------------- header section code ---------------*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    box-shadow: 0 6px 15px 0 rgba(174, 209, 255, 0.274);
}

#header-logo {
    width: 12em;
    height: 7em;
}

.shared__ul {
    list-style-type: none;
    display: flex;
    gap: 0.3em;
}

.link__page {
    padding: 0.5em;
    margin: 0.5em 0;
}

.link__page:hover {
    cursor: pointer;
    text-decoration: underline;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

#donate {
    font-weight: bold;
    background-color: rgb(255, 200, 0);
    border-radius: 30px;
}

/*-------------- footer section code ---------------*/


.shared__footer {
  margin-top: 150px;
  width: 100%;
  padding: 100px 15%;
  background: rgb(72, 70, 70);
  color: rgb(255, 251, 251);
  display: flex;
}

.shared__footer div {
  text-align: center;
}

.col__2 {
  flex-grow: 2;
}

.shared__footer div h2 {
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.col__1 a {
  display: block;
  text-decoration: none;
  color: rgb(255, 251, 251);
  margin-bottom: 10px;
}

form input {
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
}

form button {
  background: transparent;
  border: 2px solid rgb(255, 251, 251);
  color: rgb(255, 251, 251);
  border-radius: 30px;
  padding: 10px 30px;
}

.social__links {
    margin-top: 30px;
}

.social__links i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
    outline: none;
    color: rgb(255, 251, 251);
}


/*-------------- media query header/footer code for tablet ---------------*/
@media all and (min-width: 768px) {
    .shared__ul {
        /* display: flex; */
        gap: 2em;
    }

    .shared__nav {
        display: flex;
        align-items: center;
    }

    footer {
        padding: 2em;
    }
}

/*-------------- media query footer code for desktop ---------------*/
@media all and (min-width: 1025px) {
    footer {
            display: flex;
            justify-content: space-around;
            align-items: end;
        }
}